$color-principal-tipografia: #151515;
$color-secundario-tipografia: #757575;
$color-principal-tipografia-fondo-oscuro: #ffffff;

$color-background-botones-primario:  #151515;
$color-background-botones-hover:  #ed1d23;

$color-background-header-footer: #020202;
$color-background-cuerpo: #ffffff;

